body {
font-family: "monaco",serif;
background-color: #C4A484;
margin: 20px;
padding: 20px;
}
nav {
font-color: #FFFFFF;
background-color: #305252;
margin: 20px;
padding: 20px;
border-radius: 8px
}
nav ul {
display: flex;
justify-content: center;
gap: 50px
}
nav a {
color: #FFFFFF;
font-weight: bold;
}
h1{
font-size: 24px;
}
h2{
font-size: 18px
}
img{
border-radius: 8px;
border-width: 20px
height:auto;
width:auto;

}
.graphs-layout {
display:grid;
background-color: #305252;

}










